
@{
    ViewBag.Title = "Đặt hàng thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="main-page">
    <div class="alert alert-success" style="margin-top: 80px; margin-bottom: 284px">Mua hàng thành công</div>
</section>
