<div class="main-page">
    <div class="homebanner">
        <div id="sync1">
            <div class="item">
                <a><img style="cursor:pointer" src="https://lh3.googleusercontent.com/lSKfY_KSvHR26MLj9N8LHYZo_5HkEIxn2EXGmQ6fH6GeXVOOet6Q0xun3r2dYlu-IxRn7G7WNe4IMWmR5g=w1920-rw" width="800" height="300"></a>
            </div>
            <div class="item">
                <a><img style="cursor:pointer" src="https://lh3.googleusercontent.com/bph66C8isd6pj3XbmvmNd4h4pPa4zznWRyvdSog-jqWu1mgA77b9PIQdAuiQCeq4WOyTh4eew0skldig7Q=w1920-rw" width="800" height="300"></a>
            </div>
            <div class="item">
                <a><img style="cursor:pointer" src="https://lh3.googleusercontent.com/ViIt-UoHci-PVrza2nm-zAehrhccOLmNRTMPunni14aDFYP9QdH5ZpKZQFP5VpOD9ENWoN1l53f_Jv2altU=w1920-rw" width="800" height="300"></a>
            </div>
            <div class="item">
                <a><img style="cursor:pointer" src="https://lh3.googleusercontent.com/aYt0Vo3ZkgXph_zUANNyLNadkGgLNufiTcWw99vlt5zcEZzQDf2nXdIQzhEHPWTALDzSmT2CfZ846JsljXfkhJcHTyViNe_pfw=w1920-rw" width="800" height="300"></a>
            </div>
            <div class="item">
                <a><img style="cursor:pointer" src="https://lh3.googleusercontent.com/rDnSNoA_4GKyWqbG9DGYstKSXeND6iyijxxCAU8q7RUvPmwN6Hs5nTQYzE-rKFgSGfPqU0QlVJZBdk2x91Lx=w1920-rw" width="800" height="300"></a>
            </div>
            <div class="item">
                <a><img style="cursor:pointer" src="https://lh3.googleusercontent.com/yZVIkXRz0yMEEMbZxkmunz1Nf4eTBhwGLe7CfLdSurmlFNysAKg7DOAnQxrcaWM-nvcABV7APWVQJ5rRtfqW=w1920-rw" width="800" height="300"></a>
            </div>
        </div>
        <div id="sync2">
            <div class="item">
                <h3>Đại tiệc công nghệ<br />Laptop giảm đến 3 triệu</h3>
                <i class="arrowbar"></i>
            </div>
            <div class="item">
                <i class="arrowbarleft"></i>
                <h3>Technology Fest<br />Đại tiệc công nghệ - Giải trí đỉnh cao</h3>
                <i class="arrowbar"></i>
            </div>
            <div class="item">
                <i class="arrowbarleft"></i>
                <h3>Đại tiệc công nghệ HP<br />Laptop giảm ngay 2 triệu</h3>
                <i class="arrowbar"></i>
            </div>
            <div class="item">
                <i class="arrowbarleft"></i>
                <h3>MSI GF63 THIN</h3>
                <i class="arrowbar"></i>
            </div>
            <div class="item">
                <i class="arrowbarleft"></i>
                <h3>Đại tiệc công nghệ Apple chính hiệu<br />Giảm đến 4.4 triệu</h3>
                <i class="arrowbar"></i>
            </div>
            <div class="item">
                <i class="arrowbarleft"></i>
                <h3>Mua LAPTOP Lenovo<br />Tặng máy tính bảng</h3>
            </div>
        </div>
    </div>
    <div class="homenews">
        <figure>
            <h2><a href="#">Tin công nghệ</a></h2>
            <ul>
                <li>
                    <a href="/tin-tuc/xiaomi-mi-notebook-14-phien-ban-voi-intel-core-i3-the-he-thu-10-1303199">
                        <img width="100" height="70"
                             src="https://cdn.tgdd.vn/Files/2020/10/30/1303199/mi_notebook_14_i3_twitter_1603969092474_1200x675-100x100.jpg"
                             alt="Xiaomi Mi Notebook 14 phi&#234;n bản với Intel core i3 thế hệ thứ 10 v&#224; c&#243; webcam t&#237;ch hợp sẽ sớm ra mắt tại thị trường Ấn Độ">
                        <h3>
                            Xiaomi Mi Notebook 14 phi&#234;n bản với Intel core i3 thế hệ thứ 10 v&#224; c&#243; webcam
                            t&#237;ch hợp sẽ sớm ra mắt tại thị trường Ấn Độ
                        </h3>
                        <span>28 ph&#250;t trước</span>
                    </a>
                </li>
            </ul>
        </figure>
        <div class="twobanner ">
            <a><img style="cursor:pointer" src="https://phongvu.vn/cong-nghe/wp-content/uploads/2020/10/390x190_SmartPhone-T11.jpg" width="398" height="110"></a>
            <a><img style="cursor:pointer" src="https://phongvu.vn/cong-nghe/wp-content/uploads/2020/07/Covid.jpg" width="398" height="110"></a>
        </div>
    </div>
</div>