.payment-table {
    margin-top: 30px;
}

.payment-form {
    width: 100%;
    margin: 0 300px;
}

.payment-btn {
    text-align: center;
    background: rgb(20, 53, 195);
    color: #fff;
    margin: 0 220px;
}

.payment-btn:hover {
    color: #fff;
    background: #02007a;
}